/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
     display: flex; 
     background-color:#ADD8E6;
}

.top-bar {
    display: flex;
    width: 1180px;
    background-color:#DAA520;
    margin: 10px auto; 
    padding: 8px;   
}

.box-links li {
    list-style-type: none;
}

.box-logo {
    width: 20%;
    background-color: aliceblue;
    align-self: flex-start;
    border: dashed 1px black;
}

.box-links { 
    background-color: beige;
    width: 60%;
    align-self: center;
    text-align: center;
    border: dashed 1px black;
}

.box-login {
    align-self: flex-end;
    width: 20%;
    text-align: end;
    background-color: bisque;
    border: dashed 1px black;
}

.hero {
    background-color: #00008B;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
}

/* hero */

.hero-box{
    align-self: center;
    background-color: #EE82EE;
    width: 60%;
    height: 300px;
}


